<%= render "hero" %>

<section class="max-w-screen-xl mx-auto px-4 lg:px-6 pt-4 pb-10"
  <h2 class="text-lg font-semibold mb-4">
    Our latest additions-8
  </h2>
  <div class="grid grid-cols-12 gap-x-4 gap-y-6">
    <% @locations.each do |location| %>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <%= render location %>
      </div>
    <% end %>
  </div>
</section>

<%= render "built_with_avo" %>